body {
    background-image: url(../../img/EuropaMapa.jpg);
    background-color: darkgreen;
    font-family: 'Tangerine', cursive;
}

#container {
    display: grid;
    grid-template-columns: 40px auto 325px auto 40px;
    grid-template-rows: 200px 400px auto;
}

.hide {
    display: none;
}

#intro {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    background-color: #d1b57b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#intro_text {
    font-size: 25pt;
    padding-right: 10px;
    padding-left: 10px;
}

#cc {
    float: right;
    padding-right: 15px;
}

.enterPor {
    grid-column: 3;
    grid-row: 1;
    margin: 120px auto 0px auto;
}

#box {
    border: red 4px solid;
    height: 105px;
    width: 77px;
    margin-left: 287px;
    margin-top: 48px
 }

 #first {
    
 }