#body {
    background-image: url(../../img/europaMapa.jpg);
    background-color: darkgreen;
    font-family: 'Tangerine', cursive;
}

#container {
    display: grid;
    grid-template-columns: 40px auto 325px auto 40px;
    grid-template-rows: 200px 400px auto;
}

.hide {
    display: none;
}

#intro {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    background-color: #d1b57b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#intro_text {
    font-size: 25pt;
    padding-right: 10px;
    padding-left: 10px;
}

#cc_intro {
    float: right;
    padding-right: 15px;
}

#box {
    border: red 4px solid;
    height: 105px;
    width: 77px;
    margin-left: 287px;
    margin-top: 48px
}

#enterPor {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.begPor {
    color: #DBB50B;
}

#portProv {
    height: 550px;
    width: 432px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

#cc_por {
    text-align: right;
    color: #A78F2C;
    margin-top: 0px;
    margin-right: 15px;
}